section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section #bg-full-logo {
    pointer-events: none;
    /* object-fit is new */
    object-fit: contain;
    width: 100%;

    /* new */
    height: 100%;
    
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    position: absolute;
    top:0;
    opacity: 10%;
}